.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  padding: 0 $layout-horizontal-padding-small;
  align-items: center;
  margin: $layout-top-bar-height-mobile auto 0;

  @media #{$desktop-up} {
    margin-top: $layout-top-bar-height;
  }

  @media #{$large-desktop-up} {
    padding: 0 $layout-horizontal-padding-large;
  }

  &.isProjectView {
    padding: 0;

    @media #{$desktop-up} {
      padding: 0 $layout-horizontal-padding-large;
    }
  }

  .section {
    width: 100%;

    @media #{$large-desktop-up} {
      width: $layout-section-width-large-desktop;
    }
  }

  .topBarWrapper {
    position: absolute;
    top: 0;
    background: $color-octant-grey3;
    width: 100%;
    padding: 0 $layout-horizontal-padding-small;
    z-index: $z-index-5;
    backdrop-filter: blur(2.5rem);
    border-bottom: 0.1rem solid $color-octant-grey1;

    &.isTestnet {
      background-color: $color-octant-orange4;
    }

    &.isPatronMode {
      background: $color-octant-purple3-20;
    }

    &.isProjectAdminMode {
      background: $color-octant-green5-60;
    }

    @media #{$tablet-up} {
      position: fixed;
    }

    @media #{$large-desktop-up} {
      padding: 0 $layout-horizontal-padding-large;
    }

    .section {
      @media #{$large-desktop-up} {
        margin: 0 auto;
      }
    }
  }

  .body {
    @include layoutMaxWidth();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    // 15.3 rem -> height of navbar with AllocationNavigation on mobile
    min-height: calc(100% - $layout-top-bar-height-mobile - 15.3rem - $layout-navbar-bottom);

    @media #{$tablet-up} {
      // 20.1 rem -> height of navbar with AllocationNavigation on tablet
      min-height: calc(100% - $layout-top-bar-height - 20.1rem - $layout-navbar-bottom);
    }

    &.isNavigationBottomSuffix {
      padding-bottom: 20rem;

      @media #{$desktop-up} {
        padding-bottom: 24.8rem;
      }
    }

    &.isLoading {
      justify-content: center;
    }
  }

  .footerWrapper {
    width: calc(100% + 2 * $layout-horizontal-padding-small);
    border-top: 0.1rem solid $color-octant-grey1;
    margin-top: 8rem;
    padding: 0 $layout-horizontal-padding-small;
    display: flex;
    justify-content: center;

    @media #{$desktop-up} {
      margin-top: 4rem;
    }

    @media #{$large-desktop-up} {
      width: calc(100% + 2 * $layout-horizontal-padding-large);
      padding: 0 $layout-horizontal-padding-large;
    }
  }
}
