.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  padding: 0 $layout-horizontal-padding-small;
  align-items: center;
  margin-top: 8rem;

  @media #{$desktop-up} {
    padding: 0 $layout-horizontal-padding-large;
  }

  .section {
    width: 100%;

    @media #{$large-desktop-up} {
      width: $layout-section-width-large-desktop;
    }
  }

  .topBarWrapper {
    position: absolute;
    top: 0;
    background: $color-octant-grey3;
    width: 100%;
    padding: 0 $layout-horizontal-padding-small;
    z-index: $z-index-5;
    backdrop-filter: blur(2.5rem);

    &.isPatronMode {
      background: $color-octant-purple3-20;
    }

    &.isProjectAdminMode {
      background: $color-octant-green5-60;
    }

    @media #{$tablet-up} {
      position: fixed;
    }

    @media #{$desktop-up} {
      padding: 0 $layout-horizontal-padding-large;
    }

    .section {
      @media #{$large-desktop-up} {
        margin: 0 auto;
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

  &.isNavigationBottomSuffix {
    padding-bottom: 20rem;

    @media #{$desktop-up} {
      padding-bottom: 24.8rem;
    }
  }

  &.isLoading {
    justify-content: center;
  }
}
