.image {
  width: 14rem;
  height: 12.6rem;
  margin: 3.5rem auto;

  @media #{$desktop-up} {
    margin: 3.8rem auto;
    width: 21.8rem;
    height: 19.6rem;
  }
}

.buttonSablier {
  margin-top: 2.4rem;
}

.buttons {
  margin-top: 2.4rem;
  gap: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .button {
    width: 100%;
  }
}
