.root {
  padding: 0 2.4rem 0;

  &.size {
    &--S {
      .value {
        margin-top: 0.8rem;
        height: 2rem;
        line-height: 2rem;
        font-size: $font-size-16;
        text-align: left;
      }

      .subvalue {
        margin-top: 0.2rem;
        justify-content: start;
      }
    }
  }

  &.isLoading {
    .value {
      @include skeleton();
      width: 100%;
    }

    .subvalue {
      @include skeleton();
      width: 100%;

      &.isThinSubvalueLoader {
        height: 0.4rem;
        margin-top: 1.8rem;
      }
    }
  }

  .value {
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: $font-size-24;
    font-weight: $font-weight-bold;
    color: $color-octant-dark;
    text-align: left;
  }

  .subvalue {
    font-size: $font-size-10;
    color: $color-octant-grey5;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
  }
}
