.root {
  min-width: 39rem;

  .imageWrapper {
    height: 24rem;
    padding: 6.4rem 0 4.9rem;

    @media #{$desktop-up} {
      height: 27.2rem;
    }

    .image {
      width: 12.4rem;
      height: 11.2rem;

      @media #{$desktop-up} {
        width: 17.6rem;
        height: 16rem;
      }
    }
  }

  .text {
    height: 22.2rem;
    line-height: 2.2rem;
    max-width: 34.4rem;
    margin-right: auto;

    &,
    * {
      font-size: $font-size-14;
    }

    @media #{$tablet-up} {
      max-width: none;
    }

    @media #{$desktop-up} {
      height: 24.2rem;
      line-height: 2.4rem;

      &,
      * {
        font-size: $font-size-16;
      }
    }
  }

  .link {
    text-decoration: underline;
    white-space: nowrap;

    @media #{$desktop-up} {
      text-decoration: none;
    }
  }
}

.stepper {
  > div {
    margin-bottom: 0;
  }

  @media #{$desktop-up} {
    > div {
      width: 100%;
    }
  }
}
