.root {
  border: 0.1rem solid $color-hexagon-blue;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  background: $color-white;
  color: $color-hexagon-blue;
  font-weight: $font-weight-bold;

  &.isActive {
    color: $color-white;
    background: $color-hexagon-blue;
  }

  &.isDisabled {
    cursor: auto;
    background: $color-grey;
  }
}
