.root {
  border: 0.1rem solid $color-white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.isActive {
    color: $color-red;
    border: 0.1rem solid $color-red;
  }

  &.isDisabled {
    cursor: auto;
  }
}
