.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: $border-radius-16;
  background: transparent;
  font-weight: $font-weight-bold;
  border: 0;
  min-height: 4rem;

  &.isDisabled {
    cursor: default;
  }

  &.isHigh {
    min-height: 4.8rem;
  }

  &.isClickable {
    cursor: pointer;
  }
}

.variant-- {
  &cta {
    color: $color-white;
    border: 0.1rem solid $color-hexagon-blue;
    background: $color-hexagon-blue;

    &.isDisabled {
      background: $color-hexagon-blue2;
      border-color: $color-hexagon-blue2;
    }
  }

  &secondary {
    color: $color-hexagon-blue;
    border: 0.1rem solid $color-hexagon-blue;
    background: $color-white;

    &.isActive {
      color: $color-white;
      background: $color-hexagon-blue;
    }

    &.isDisabled {
      cursor: auto;
      background: $color-white;
      border-color: $color-hexagon-blue3;
      color: $color-hexagon-blue3;
    }
  }

  &secondaryGrey {
    color: $color-hexagon-grey3;
    border: 0.1rem solid $color-hexagon-grey3;

    svg path {
      stroke: $color-hexagon-grey3;
    }
  }

  &iconVertical {
    color: $color-hexagon-grey2;
    display: flex;
    flex-direction: column;
    border: 0;
    font-size: $font-size-10;

    svg, svg path {
      color: $color-hexagon-grey2;
      stroke: $color-hexagon-grey2;
    }

    &.isActive {
      color: $color-hexagon-main-text-color;

      svg, svg path {
        color: $color-hexagon-main-text-color;
        stroke: $color-hexagon-main-text-color;
      }
    }

    .icon {
      flex: 1;
    }
  }

  &iconOnly {
    background: $color-hexagon-grey5;
    border-radius: $border-radius-10;
    height: 3.2rem;
    width: 3.2rem;
    padding: 0;
  }

  &iconOnlyTransparent {
    background: transparent;
    height: 3.2rem;
    width: 3.2rem;
    padding: 0;
  }

  &link {
    border-radius: 0;
    min-height: initial;
    color: $color-hexagon-blue;
  }
}

.icon {
  display: flex;
  align-items: center;

  &:not(.isIconVariant) {
    &.isOnLeft {
      margin: 0 1rem 0 0;
    }

    &.isOnRight {
      margin: 0 0 0 1rem;
    }
  }
}
