.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media #{$desktop-up} {
    padding-bottom: 0;
    width: 68rem;
    min-height: 0;
  }

  .title {
    @include fontBig($font-size-24);
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 8.8rem;
    width: 100%;
    color: $color-octant-dark;
    line-height: 1.4rem;

    @media #{$tablet-up} {
      @include fontBig($font-size-32);
      min-height: 14.4rem;
    }

    @media #{$desktop-up} {
      padding: 0 4rem;
    }
  }

  .box {
    &:not(:last-child) {
      margin: 0 auto 1.6rem;
    }
  }

  .boxesWrapper {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    &.withMarginBottom {
      margin-bottom: 12.8rem;
    }

    &.withPaddingBottom {
      padding-bottom: 4rem;
    }

    @media #{$desktop-up} {
      padding: 0 4rem;
      overflow: auto;
    }
  }

  .note {
    color: $color-octant-grey5;
    margin-bottom: 1.6rem;
  }

  .emptyState {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;

    .emptyStateImage {
      width: 12rem;

      @media #{$tablet-up} {
        width: 15rem;
      }
    }

    .emptyStateText {
      height: 7.2rem;
      margin-top: 1.8rem;
      color: $color-octant-grey5;
      font-size: $font-size-14;
      font-weight: $font-weight-semibold;
      line-height: 2.2rem;

      .projectsLink {
        font-size: $font-size-14;
      }

      @media #{$tablet-up} {
        font-size: $font-size-16;
        line-height: 2.4rem;

        .projectsLink {
          font-size: $font-size-16;
        }
      }
    }
  }
}
