$heightDesktop: 4.8rem;

.root {
  display: flex;
  height: 10.4rem;
  width: 100%;
  padding: 2.4rem 2.8rem;

  @media #{$tablet-down} {
    height: 8rem;
    padding: 1.6rem 2.4rem;
  }
}

.column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .row {
    display: flex;
    align-items: center;
    height: $heightDesktop;
    width: 100%;

    &:first-child {
      .rectangle {
        width: 60%;
      }
    }

    .circle {
      @include skeleton();
      height: $heightDesktop;
      width: $heightDesktop;
      min-width: $heightDesktop;
      min-height: $heightDesktop;
      margin-right: 1.2rem;
      border-radius: 100%;

      @media #{$tablet-down} {
        display: none;
      }
    }

    .rectangle {
      @include skeleton();
      height: 100%;
      width: 100%;
    }
  }
}

.column2 {
  width: 26rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .rectangle {
    @include skeleton();
    width: 100%;
    height: $heightDesktop;
  }
}
