.root {
  width: 100%;
  height: 0.8rem;
  background-color: $color-hexagon-grey4;
  border-radius: 0.4rem;
}

.filled {
  height: 100%;
  background: $color-hexagon-blue;
  border-radius: inherit;
}
