.root {
  display: flex;
  flex-direction: column;
  padding: 1.4rem 2.4rem 2.4rem;

  &.isMigration {
    @include homeGridMigrateRoot();
  }

  @media #{$tablet-up} {
    padding-top: 0.8rem;
  }

  .divider {
    margin-top: 2rem;
    width: 100%;
    height: 0.1rem;
    background-color: $color-octant-grey1;
  }

  .button {
    margin-top: 2.4rem;
    width: 100%;
  }

  .pending {
    min-height: 6.4rem;
  }
}
