.box {
  height: 8rem;
  margin-top: 1.6rem;
  position: relative;

  .text {
    margin-left: 1.8rem;
    font-size: $font-size-16;
    font-weight: $font-weight-semibold;
    line-height: 2.4rem;
    color: $color-octant-grey5;
    cursor: pointer;

    &.isWaitingForAllMultisigSignatures {
      opacity: 0.5;
    }
  }

  .link {
    font-weight: $font-weight-semibold;
    text-decoration: underline;

    @media #{$desktop-up} {
      &:hover {
        text-decoration: underline;
      }

      text-decoration: none;
    }

    &:hover {
      transform: none;
    }
  }

  .waitingForWalletConfirmation {
    position: absolute;
    right: 0;
    bottom: -2.4rem;
    height: 2.4rem;
    color: $color-octant-grey5;
    font-weight: $font-weight-bold;
    font-size: $font-size-10;
    text-align: right;
  }
}
