.tooltip {
  width: 10.4rem !important;
}

.calculateRewards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background: $color-octant-grey12;
  border-radius: $border-radius-10;
}
