.root {
  width: 100%;

  .daysSelectorLabel,
  .estimatesLabel {
    color: $color-octant-grey5;
    font-size: $font-size-10;
    font-weight: $font-weight-bold;
    margin-bottom: 0.6rem;
    text-align: left;
    width: 100%;
  }

  .daysSelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.8rem;
    background: $color-white;
    border-radius: $border-radius-04;
    border: 0.1rem solid $color-octant-grey1;
    padding: 0.4rem 1.6rem 0.4rem 0.6rem;

    .daysWrapper {
      display: flex;
      flex: 1;
    }

    .day {
      position: relative;
      cursor: pointer;
      color: $color-octant-grey2;
      font-weight: $font-weight-bold;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 3.8rem;

      .dayLabel {
        z-index: $z-index-2;
      }

      &.isSelected {
        color: $color-octant-dark;
        transition: all $transition-time-4;
      }

      .selectedItemBackground {
        position: absolute;
        z-index: $z-index-1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-octant-grey1;
        border-radius: $border-radius-04;
      }
    }

    .suffix {
      font-weight: $font-weight-bold;
      padding: 0.4rem 0.8rem;
      font-size: 1.2rem;
      color: $color-octant-dark;
      background: $color-octant-grey1;
      border-radius: 0.4rem;
      margin-left: 0.8rem;
      text-transform: uppercase;
    }
  }
}
