root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.{css,html,js,jsx,ts,tsx}]
indent_size = 2

[*.py]
indent_size = 4
