.idea
node_modules
.env
coverage
coverage.json
.yarn

# Hardhat files
cache
cache-zk
artifacts
artifacts-zk
deployments
typechain
typechain-types
.docs

# Client
dist

# Oracle
.pytest_cache
__pycache__
venv

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/oracle/api_mock/*.log
