.env
.idea
.yarn
coverage
coverage.json
node_modules

# Hardhat files
.docs
artifacts
artifacts-zk
cache
cache-zk
deployments
typechain
typechain-types

# Client
dist
## rollup-plugin-visualizer result file
/client/bundleAnalysis.html

# Oracle
.pytest_cache
__pycache__
venv

# Subgraph
/subgraph/build
/subgraph/data
/subgraph/generated
/subgraph/networks.json
/subgraph/tests/.*

#logs
/oracle/api_mock/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
