.epochInfo {
  margin-left: 1.6rem;

  .badge {
    display: flex;
    padding: 0.1rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-04;
    background: $color-octant-green;
    color: $color-white;
    text-align: center;
    font-size: $font-size-10;
    font-weight: $font-weight-bold;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    line-height: 1.4rem;
  }

  .epochDurationLabel {
    color: $color-octant-grey5;
    font-size: $font-size-12;
    font-weight: $font-weight-medium;
  }
}

.arrows {
  margin-left: auto;

  .arrowLeft {
    margin-right: 1.6rem;
  }
}
