$verticalDistanceBetweenElements: $layoutMarginHorizontal;

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media #{$desktop-up} {
    margin: 0 (-(calc($verticalDistanceBetweenElements / 2)));
  }
}

.element {
  margin: 0 auto 2.4rem;

  @media #{$desktop-up} {
    @include flexBasisGutter(2, calc($verticalDistanceBetweenElements * 2));
  }
}
