.root {
  position: relative;
}

.hint {
  background: $color-octant-green;
  width: 9.2rem;
  height: 3.6rem;
  border-radius: $border-radius-04;
  padding: 0.4rem 0.8rem;
  text-align: left;
  color: $color-white;

  .yValue {
    font-size: $font-size-12;
    font-weight: $font-weight-bold;
    letter-spacing: 0.036rem;
    text-transform: uppercase;
  }
  .xValue {
    font-size: $font-size-10;
    font-weight: $font-weight-bold;
    opacity: 0.7;
    color: $color-white;
  }
}

.backgroundBigCircle {
  stroke-width: 2.4rem;
}

.backgroundCircle {
  stroke-width: 0.4rem;
}

.markPoint {
  cursor: pointer;
}

.dataCirclePath {
  stroke-width: 0.4rem;
  stroke-linejoin: round;
  cursor: pointer;

  &__isActive {
    stroke-width: 0.8rem;
  }
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $font-size-24;
  font-weight: $font-weight-bold;
  color: $color-octant-dark;
}

.circleLoaderSvg {
  position: absolute;
  top: 0;
  left: 0;
}

.circleLoader {
  stroke-width: 0.4rem;
  fill: transparent;
  stroke: $color-octant-grey2;
  stroke-linejoin: 'round';
}

:export {
  colorOctantGrey1: $color-octant-grey1;
  colorOctantGrey3: $color-octant-grey3;
}
