.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputsContainer {
  width: 100%;
  background: $color-octant-grey4;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-16;

  .input {
    input {
      @media #{$desktop-up} {
        font-size: $font-size-16;
      }
    }
  }

  .percentageInput {
    margin: 1.6rem 0 2.4rem;
  }
}
