.root {
  color: $color-octant-dark;
  font-weight: $font-weight-semibold;
}

.mainValue {

  &.variant-- {
    &standard {
      font-size: $font-size-24;
    }
    &small {
      font-size: $font-size-18;
    }
  }
}

.alternativeValue {
  font-size: $font-size-12;
  color: $color-octant-green2;
}
