.root {
  color: $color-octant-dark;
  font-weight: $font-weight-semibold;
}

.primary {
  font-size: $font-size-24;
  text-align: left;

  &.variant-- {
    &standard {
      font-size: $font-size-24;
    }

    &small {
      font-size: $font-size-18;
    }
  }
}

.secondary {
  text-align: left;
  font-size: $font-size-12;
  color: $color-octant-green2;
}
