$removeButtonHeightWidthMobile: 8rem;
$removeButtonHeightWidthDesktop: 10.4rem;

.root {
  width: 100%;
  position: relative;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $removeButtonHeightWidthMobile;
  width: $removeButtonHeightWidthMobile;
  border-radius: $border-radius-16;
  background: $color-white;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all $transition-time-4;

  &:hover {
    background: $color-octant-grey8;
  }

  &:active {
    background-color: $color-octant-grey1;
  }

  @media #{$desktop-up} {
    height: $removeButtonHeightWidthDesktop;
    width: $removeButtonHeightWidthDesktop;
  }
}

.box {
  position: relative;
  z-index: $z-index-2;
  padding: 2.4rem;

  @media #{$tablet-down} {
    padding: 1.6rem 1.6rem 1.6rem 2.4rem;
  }
}

.boxRoundedChildren {
  display: flex;
  justify-content: space-between;

  &.isThereAnyError {
    opacity: 0.5;
  }
}

.projectData {
  display: flex;
  align-items: center;
  padding-right: 2.4rem;
  min-width: 0;
}

.image {
  margin-right: 2.4rem;
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem;

  @media #{$tablet-down} {
    display: none;
  }
}

.nameAndRewards {
  min-width: 0;
}

.name {
  min-width: 0;
  font-size: $font-size-18;
  line-height: 2.1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0.1rem 0;

  @media #{$tablet-down} {
    font-size: $font-size-14;
    margin: 0;
    line-height: 1.6rem;
  }
}

.inputWrapper {
  flex: 1;
  max-width: 26rem;

  &.isEpoch1 {
    opacity: 0.5;
  }

  &.isError {
    animation: horizontal-shaking 0.25s;
  }

  @media #{$tablet-down} {
    max-width: 14.2rem;
    min-width: 14.2rem;
  }
}

.input {
  &.isValue {
    background: $color-octant-green;
  }
}
