.box {
  height: 6.4rem;
  font-size: $font-size-12;

  &:not(:first-child) {
    margin: 1.6rem auto 0;
  }

  &.isDisabled {
    opacity: 0.5;
  }

  @media #{$desktop-up} {
    font-size: $font-size-14;
  }
}

.inputToggle {
  // Prevents inputs from shrinking when label text is long.
  flex-shrink: 0;
}

.spacer {
  height: 2.4rem;
  width: 0.1rem;
  background: $color-octant-grey1;
  margin-right: 4rem;
}

.currencySelectorWrapper {
  display: flex;
  font-size: $font-size-12;
}

.infoTitle {
  margin-bottom: 0.8rem;
}

.infoEpoch {
  padding: 0.4rem 0.8rem;
  background: $color-octant-grey1;
  border-radius: $border-radius-04;
  font-size: $font-size-12;
  font-weight: $font-weight-bold;
  line-height: 1.6rem;

  @media #{$desktop-up} {
    font-size: $font-size-14;
  }
}

.infoBox {
  padding: 4.4rem 2.2rem 0.5rem;

  @media #{$desktop-up} {
    padding: 4.5rem 2.2rem 2.5rem;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 9.9rem;

  .info {
    line-height: 1.8rem;
    color: $color-octant-grey5;
  }

  @media #{$desktop-up} {
    justify-content: flex-end;
    min-height: 8rem;
    margin-top: 1.6rem;

    .info {
      line-height: 2rem;
      font-size: $font-size-14;
      font-weight: $font-weight-semibold;
    }

    .golemFoundationProject {
      color: $color-octant-green;
    }
  }
}

.patronMode {
  display: flex;
  align-items: center;
}

.patronModeQuestionMarkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.2rem;
}

.boxesWrapper {
  flex-direction: column;
  display: flex;
  gap: 1.6rem;
  width: 100%;

  @media #{$desktop-up} {
    flex-direction: row;
  }
}

.arrowRight path {
  fill: $color-octant-green;
}

.link {
  display: block;
  font-size: $font-size-12;
  line-height: 2rem;
  font-weight: $font-weight-semibold;
  min-height: 2rem;

  .linkText {
    margin-left: 0.4rem;
  }

  @media #{$desktop-up} {
    font-size: $font-size-14;
  }
}

.octantInfo {
  color: $color-octant-grey5;
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
  line-height: 2rem;
}

.linkBoxesWrapper {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-top: 1.6rem;

  .linkBoxChildrenWrapper {
    height: 100%;
  }

  .link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .linkBox {
    font-size: $font-size-12;
    line-height: 2rem;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
  }
}

.arrowTopRight {
  margin-left: 0.4rem;
}
