.root {
  display: flex;
  align-items: center;
  background-color: $color-octant-grey3;
  height: 7.2rem;
  padding: 0 2.2rem 0 2.4rem;
  width: 100%;
  border-radius: $border-radius-16 $border-radius-16 0 0;

  &.areBottomCornersRounded {
    border-radius: $border-radius-16;
  }

  .avatar {
    margin-right: 1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    background-color: $color-white;
    border-radius: $border-radius-16;
    display: flex;
    align-items: center;
    justify-content: center;

    .identicon {
      height: 1.92rem;
      width: 1.92rem;
    }
  }

  .address {
    color: $color-octant-dark;
    font-size: $font-size-14;
    font-weight: $font-weight-bold;
  }

  .badge {
    margin-top: 0.2rem;
    text-transform: uppercase;
    font-size: $font-size-10;
    font-weight: $font-weight-bold;
    padding: 0.1rem 0.5rem;
    border-radius: $border-radius-04;
    color: $color-octant-green;
    background-color: $color-octant-green8;
    line-height: 1.4rem;
    letter-spacing: 0.02rem;

    &.secondary {
      color: $color-octant-grey5;
      background-color: $color-octant-grey1;
    }
  }

  .score {
    margin-left: auto;
    color: $color-octant-grey2;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;

    &.isScoreHighlighted {
      color: $color-octant-dark;
    }
  }
}
