.root {
  position: relative;
  height: 6.4rem;
}

.label {
  position: absolute;
  top: 1rem;
  left: 2.4rem;
  font-size: $font-size-08;
  font-weight: $font-weight-bold;
  color: $color-hexagon-grey3;
  z-index: $z-index-2;
}

.input {
  border: 0;

  &:focus-visible {
    outline: 0;
  }

  &.variant-- {
    &simple {
      text-align: center;
      font-size: $font-size-20;
      background: transparent;

      &.isDisabled {
        color: $color-hexagon-grey4;

        &::placeholder {
          color: $color-hexagon-grey4;
        }
      }
    }

    &boxRounded {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: $border-radius-16;
      height: 100%;
      padding: 2.4rem;
      font-size: $font-size-14;
      font-weight: $font-weight-bold;
    }
  }
}

.suffix {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translate(0, -50%);
  z-index: $z-index-2;
  font-weight: $font-weight-bold;
}
