.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .imageProfile {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;

    @media #{$desktop-up} {
      width: 6.4rem;
      height: 6.4rem;
    }
    @media #{$large-desktop-up} {
      width: 8rem;
      height: 8rem;
    }
  }

  .name {
    @include fontBig($font-size-24);
    display: flex;
    align-items: center;
    margin: 1.6rem 0 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{$tablet-up} {
      @include fontBig($font-size-32);
      margin: 0.6rem 0 0.8rem;
    }

    @media #{$desktop-up} {
      @include fontBig($font-size-40);
      margin: 1.2rem 0;
    }

    @media #{$large-desktop-up} {
      @include fontBig($font-size-48);
      margin: 2.4rem 0;
    }
  }

  .wrapper {
    display: block;
    width: 100%;
    align-items: center;

    .buttonAddToAllocate {
      margin-left: auto;
    }

    @media #{$tablet-up} {
      display: flex;
    }

    @media #{$tablet-down} {
      display: none;
    }
  }
}
