.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 4.8rem;

  .imageProfileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 1.6rem;
  }

  .buttonAddToAllocate {
    margin-left: 3.2rem;

    @media #{$desktop-up} {
      margin-left: 2.6rem;
    }
  }

  .imageProfile {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;

    @media #{$tablet-down} {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  .name {
    font-size: $font-size-24;
    font-weight: $font-weight-bold;

    @media #{$tablet-down} {
      font-size: $font-size-20;
    }
  }

  .actionsWrapper {
    display: flex;

    .shareIcon {
      border-radius: $border-radius-10;

      @media #{$desktop-up} {
        &:hover {
          cursor: pointer;
          background: $color-octant-grey8;

          path {
            stroke: $color-octant-dark;
          }
        }

        &.isCopied {
          background: $color-octant-grey1;

          path {
            stroke: $color-octant-dark;
          }
        }
      }
    }
  }

  .buttonWebsite {
    text-align: left;
    justify-content: flex-start;
  }
}
