.allocationInfo {
  margin: 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  font-weight: $font-weight-bold;
  line-height: 1.4rem;
  padding: 1rem 1.4rem;
  background: $color-octant-green9;
  color: $color-octant-green;
  border-radius: $border-radius-16;
  border: 0.2rem solid transparent;
  user-select: none;

  &:not(.isInMigrationMode) {
    cursor: pointer;
  }

  &:hover {
    border-color: $color-octant-green10;
  }

  .calendarIcon {
    margin-right: 1.2rem;
  }

  &.showAWAlert:not(.isInMigrationMode) {
    background: $color-octant-orange8;
    color: $color-octant-orange;

    .calendarIcon {
      path {
        stroke: $color-octant-orange;
      }
    }

    &:hover {
      border-color: $color-octant-orange7;
    }
  }
}

.desktopCalendarWrapper {
  position: fixed;
  max-width: 105.6rem;
  z-index: $z-index-7;

  @media #{$tablet-only} {
    width: calc(100% - 4.8rem);
  }
}

.overflow {
  @include overlay(0, 0);
  width: 100%;
  height: 100%;
}
