.root {
  width: 100%;
  height: 100%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.input {
  @include flexBasisGutter(2, 1.6rem);
}

.button {
  width: 100%;
  margin: 2.4rem 0;
}
