.root {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid $color-black;
  padding: 2rem;
  border-radius: $border-radius-standard;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
}
