.root {
  display: flex;
  flex-direction: column;
  background: $color-white;
  padding: 4.8rem 5.6rem 4rem;

  @media #{$tablet-up} {
    padding: 9.6rem $projectListItemHorizontalPaddingTabletUp 4rem;
  }

  @media #{$desktop-up} {
    padding: 9.6rem $projectListItemHorizontalPaddingDesktopUp 4rem;
  }

  @media #{$large-desktop-up} {
    padding: 9.6rem $projectListItemHorizontalPaddingLargeDesktop 4rem;
  }

  .projectRewards {
    margin: 4.6rem 0 4.2rem;

    &.hasPaddingAndBorder {
      border-bottom: 0.2rem solid $color-octant-grey3;
      padding-bottom: 1.2rem;
    }

    @media #{$tablet-up} {
      margin: 6.4rem 0 5.6rem;
    }

    @media #{$desktop-up} {
      margin: 8.8rem 0;
    }

    @media #{$large-desktop-up} {
      margin: 8rem 0 8.8rem;
    }
  }

  .description {
    font-weight: $font-weight-medium;
    font-size: $font-size-12;
    line-height: 2rem;

    @media #{$tablet-up} {
      font-size: $font-size-16;
      line-height: 2.6rem;
    }

    @media #{$desktop-up} {
      font-size: $font-size-20;
      line-height: 3.4rem;
    }

    @media #{$large-desktop-up} {
      font-size: $font-size-22;
      line-height: 4rem;
    }
  }
}

.buttonsWebsiteAndShare {
  @media #{$desktop-up} {
    display: none;
  }
}
