.root {
  padding: 0 2.4rem 0;

  &.size {
    &--S {
      .value {
        font-size: $font-size-24;
      }
    }
  }

  &.isLoading {
    .value {
      @include skeleton();
      width: 100%;
    }

    .subvalue {
      @include skeleton();
      width: 100%;

      &.isThinSubvalueLoader {
        height: 0.4rem;
        margin-top: 1.8rem;
      }
    }
  }

  .value {
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: $font-size-32;
    font-weight: $font-weight-bold;
    color: $color-octant-dark;
  }

  .subvalue {
    font-size: $font-size-10;
    color: $color-octant-grey5;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
  }
}
