$height: 2.4rem;

.root {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-black;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.skeleton {
  @include skeleton();
  width: 100%;
  height: $height;
}

.imageAndName {
  display: flex;
  align-items: center;
}

.image {
  border-radius: 50%;
  width: $height;
  height: $height;
  margin-right: 0.8rem;

  @media #{$tablet-down} {
    display: none;
  }
}

.amount {
  font-weight: $font-weight-semibold;
  font-size: $font-size-14;

  @media #{$tablet-down} {
    font-size: $font-size-12;
  }
}
