.root {
  display: flex;
  align-items: center;
  margin: 0.8rem 0 0 0;
}

.element {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background: $color-octant-grey6;
  border-radius: $border-radius-04;

  &.isLoadingAllocateSimulate, &.isError, &:not(.isDecisionWindowOpen) {
    opacity: 0.5;
  }

  &.isSimulatedMatchedAvailable {
    color: $color-octant-green;
  }

  &:not(:last-child) {
    margin-right: 0.8rem;
  }

  .icon {
    margin-right: 0.8rem;

    &.isSimulatedMatchedAvailable {
      path {
        stroke: $color-octant-green;
      }
    }
  }
}
