.root {
  position: relative;
  width: 39.2rem;
  transition: opacity $transition-time-1;
  opacity: 0.5;
  height: 19.8rem;

  .previewVideoOverlay {
    cursor: pointer;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.isInView {
    opacity: 1;
  }

  .previewVideo {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: $border-radius-08;
  }
}

.videoBox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 141.6rem;
  height: 68.6rem;
  transform: translate(-50%, -50%);
  z-index: $z-index-7;

  .closeButton {
    border-radius: $border-radius-10;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: -6rem;
    right: 0;
    background: white;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    padding: 0.4rem;
    cursor: pointer;

    &:hover {
      svg path {
        transition: stroke $transition-time-2;
        stroke: $color-octant-dark;
      }
    }

    .closeButtonText {
      margin-top: -0.2rem;
      white-space: nowrap;
      color: $color-octant-dark;
      font-size: $font-size-12;
      font-weight: $font-weight-bold;
    }

    svg {
      margin: 1.1rem;
    }

    svg path {
      stroke: $color-octant-grey5;
    }
  }

  .video {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: $border-radius-12;
    background: $color-octant-grey6;
  }
}

.videoOverlay.isOpen {
  @include overlay(100%, 100%);
}
