// Custom styles for RainbowKit connect modal.
// !important are required, since most of these styles are being overwritten by direct CSS rules.

.rainbowKitCustomFontFamily {
  font-family: 'Inter', sans-serif !important;
}

.modalWidth {
  width: $modalDesktopWidth !important;
}

.primaryWrapper {
  padding: $modalPadding !important;
  margin: 0 !important;
}

.modalHeader {
  line-height: $modalHeaderHeight !important;
  height: $modalHeaderHeight !important;
  align-items: center !important;
}

.dummyDiv {
  display: none !important;
}

.headerTextWrapper {
  padding: 0 !important;
}

.headerText {
  font-size: $modalHeaderFontSize !important;
  font-weight: $font-weight-bold !important;
}

.optionsWrapper {
  padding: 0 !important;
  margin: 0 !important;
}

.walletOptionsButtonsWrapper {
  display: flex !important;
  flex-direction: row !important;
}

.walletOptionsButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100% !important;
  gap: 1.6rem !important;
}

.walletOptionsButtonsContent {
  height: 9.6rem;
  padding: 0 !important;
  background: $color-octant-grey3 !important;
}

.walletOptionsButtonsOuter {
  width: 10.9rem;
}

.walletOptionsContent {
  flex-direction: column !important;

  > div:nth-child(2) > div {
    text-align: center;
    font-size: 1.4rem !important;
  }
}

.walletOptionsText {
  font-weight: $font-weight-bold !important;
  font-size: $font-size-12 !important;
}

.walletOptionsIcons {
  filter: grayscale(1) !important;
}

.buttonClose {
  position: absolute !important;
  top: 1.6rem !important;
  right: 1.6rem !important;
  height: 3.2rem !important;
  width: 3.2rem !important;
  background: none !important;
  border: none !important;
  border-radius: $border-radius-10 !important;

  &:hover {
    transform: none !important;
    background: $color-octant-grey3 !important;
  }

  > svg > path {
    fill: $color-octant-purple2 !important;
  }
}

.sectionHeaders {
  display: none !important;
}

.walletSections {
  display: none !important;
}

.linkBoxTopDividerLine {
  display: none !important;
}

.linkBox {
  display: none !important;
}
