$elementMargin: 1.6rem;

.tip {
  margin-bottom: $elementMargin;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}

.inputSearch {
  margin-bottom: $elementMargin;
}

.archives {
  width: 100%;
}

.favouritesImage {
  height: 8.8rem;

  @media #{$desktop-up} {
    height: 11.5rem;
  }
}
