$elementMargin: 1.6rem;

.tip {
  margin-bottom: $elementMargin;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}

.searchAndFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: $elementMargin;

  @media #{$phone-down} {
    flex-direction: column;
  }
}

.inputSearch {
  max-width: 70rem;
  margin-right: 2.4rem;

  @media #{$phone-down} {
    margin-bottom: $elementMargin;
  }
}

.inputOrder {
  @media #{$phone-down} {
    width: 100% !important;
  }
}

.archives {
  width: 100%;
}

.favouritesImage {
  height: 8.8rem;

  @media #{$desktop-up} {
    height: 11.5rem;
  }
}
