.root {
  height: 6.4rem;
  font-size: $font-size-12;
  margin: 1.6rem auto 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
  }

  .spacer {
    height: 2.4rem;
    width: 0.1rem;
    background: $color-octant-grey1;
  }

  .languageSelector {
    width: 11rem !important;
  }
}
