.element {
  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.input {
  @include flexBasisGutter(2, 1.6rem);
}

.availableFunds {
  margin: 2rem 0 0;
}

.button {
  width: 100%;
}
