$heightRoot: 4rem;
$heightRootMobile: 3.2rem;
$heightTrack: 0.4rem;
$thumbSize: $heightRoot;
$thumbSizeMobile: $heightRootMobile;

.root {
  position: relative;
  height: $heightRootMobile;
  width: 100%;
  padding: 0 calc($thumbSizeMobile / 2);

  @media #{$desktop-up} {
    height: $heightRoot;
    padding: 0 calc($thumbSize / 2);
  }
}

.slider {
  position: absolute !important;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: $heightRootMobile;
  width: 100%;

  @media #{$desktop-up} {
    height: $heightRoot;
  }
}

.track {
  height: $heightTrack;
  top: 50%;
  transform: translate(0, -50%);

  &.isFull {
    border-radius: calc($heightTrack / 2);
  }

  &:not(.isFull) {
    &:nth-child(1) {
      border-radius: calc($heightTrack / 2) 0 0 calc($heightTrack / 2);
    }
    &:nth-child(2) {
      border-radius: 0 calc($heightTrack / 2) calc($heightTrack / 2) 0;
    }
  }


  &:nth-child(1) {
    background: $color-octant-green;
  }

  &:nth-child(2) {
    background: $color-octant-orange2;
  }

  &.isDisabled {
    &:nth-child(1) {
      background: $color-octant-grey5;
    }
    &:nth-child(2) {
      background: $color-octant-grey2;
    }
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $thumbSizeMobile;
  width: $thumbSizeMobile;
  background: $color-white;
  border-radius: 50%;
  cursor: pointer;
  // fixes problem with filter: drop-shadow lag on Safari -> https://github.com/mdn/browser-compat-data/issues/17726
  transform: translateZ(0);
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 0 0.5rem);

  &.isHidden {
    display: none;
  }

  &:focus-visible {
    outline: none;
  }

  @media #{$desktop-up} {
    height: $thumbSize;
    width: $thumbSize;
  }
}

.thumbInnerCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc($thumbSizeMobile / 2);
  height: calc($thumbSizeMobile / 2);
  background: $color-octant-grey8;
  border-radius: 50%;

  @media #{$desktop-up} {
    height: calc($thumbSize / 2);
    width: calc($thumbSize / 2);
  }
}
