.root {
  height: 100%;
  min-width: 0.8rem;
  position: relative;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 1.4rem;
  }

  @media #{$desktop-up} {
    width: 1.6rem;
    &:not(:first-child) {
      margin-left: 1.8rem;
    }
  }

  @media #{$large-desktop-up} {
    width: 0.8rem;
  }

  .topBar {
    background-color: $color-octant-orange2;
    border-radius: $border-radius-08 $border-radius-08 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }

  .bottomBar {
    background-color: $color-octant-green;
    border-radius: $border-radius-08 $border-radius-08 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: $z-index-2;
  }

  .projectLogo {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 100%;
    background-color: $color-white;
    box-shadow: 0 0 2.5rem 0 $color-black-10;
    z-index: $z-index-2;

    .projectLogoImg {
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 100%;
    }

    .triangle {
      position: absolute;
      bottom: -0.7rem;
      border-top: 0.8rem solid $color-white;
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
    }
  }
}
