.root {
  position: relative;
  flex: 1;
  padding: 1.4rem 2.4rem 2.4rem;

  @media #{$tablet-up} {
    padding-top: 0.8rem;
  }

  .divider {
    margin-top: 2rem;
    width: 100%;
    height: 0.1rem;
    background-color: $color-octant-grey1;
  }

  .button {
    margin-top: 2.4rem;
    width: 100%;
  }

  .effective {
    min-height: 6.4rem;
  }
}

.didUserWinAnyRaffles {
  justify-content: space-between;
}
