.root {
  padding: 0 5.6rem;

  @media #{$tablet-down} {
    padding: 0 2.4rem;
  }
}

.header {
  padding: 2.9rem 0;
  margin: 0;
  border-bottom: 0.1rem solid $color-octant-grey4;
  font-size: $font-size-18;

  @media #{$desktop-up} {
    font-size: $font-size-20;
    padding: 3.2rem 0;
  }
}

.loader {
  @include skeleton();
  height: 1.6rem;
  width: 10rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 4rem 0;
}
