.root {
  position: fixed;
  z-index: $z-index-5;
  bottom: -100%;
  left: 0;
  width: 100%;
  max-height: 75%;
  overflow: auto;
  background: $color-white;
  padding: 2.4rem 2.4rem 4rem;
  text-align: left;
  box-shadow: $box-shadow-1;
  transition: bottom 0.25s linear;
  border-radius: $border-radius-20 $border-radius-20 0 0;

  &.isOpen {
    bottom: 0;
  }

  &.isClickable {
    cursor: pointer;
  }

  .header {
    position: relative;
    font-size: $font-size-20;
    font-weight: $font-weight-bold;
    margin: 0 0 4rem 0;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.overflow {
  @include overlay(0, 0);

  &.isOpen {
    width: 100%;
    height: 100%;
  }
}

.buttonClose {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: $z-index-4;

}


@media #{$desktop-up} {
  .root {
    width: 47.2rem;
    transform: translate(-50%, 50%);
    left: 50%;
    border-radius: $border-radius-20;

    &.isOpen {
      bottom: 50%;
    }
  }
}
