.element {
  width: 100%;

  &:not(:last-child) {
    margin: 0 auto 4.8rem;
  }
}

.box {
  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.stakedRatioProgressBar {
  margin: 1.6rem 0 0 0;
}
