$color-black: #000000;
$color-white: #FFFFFF;
$color-graphite1: #191919;
$color-grey: #AAAAAA;
$color-red: #FF0000;

$color-hexagon-grey: #F8F8F8;
$color-hexagon-grey2: #CDD1CD;
$color-hexagon-blue: #141DEF;
