$color-black: #000000;
$color-black-05: rgba(0, 0, 0, 0.05);
$color-white: #ffffff;

$color-octant-dark: #171717;
$color-octant-dark-30: #17171730;
$color-octant-grey1: #ebebeb;
$color-octant-grey2: #cdd1cd;
$color-octant-grey3: #f8f8f8;
$color-octant-grey5: #9ea39e;
$color-octant-grey6: #fafafa;
$color-octant-grey7: #e0e0e0; // skeleton
$color-octant-grey8: #f3f3f3;
$color-octant-grey9: #d7d7d7; // TODO OCT-1001 Remove this color. It will become unused.
$color-octant-grey10: #323232;
$color-octant-grey11: #777f78;
$color-octant-grey12: #d8d8d8;
$color-octant-green: #2d9b87;
$color-octant-green-15: rgba(45, 155, 135, 0.15); // used in the metrics chart, not documented
$color-octant-green-50: rgba(45, 155, 135, 0.5); // used in the metrics chart, not documented
$color-octant-green-80: rgba(45, 155, 135, 0.8); // used in the metrics chart, not documented
$color-octant-green2: #5b8a81;
$color-octant-green3: #1d4558;
$color-octant-green4: #d1e7e3; // TODO OCT-1001 Remove this color. It will become unused.
$color-octant-green5: #f1faf8;
$color-octant-green6: #d3e9e4;
$color-octant-green7: #c0d9d4;
$color-octant-green8: #D9F0EB;
$color-octant-orange: #ff6157;
$color-octant-orange2: #ff9601;
$color-octant-orange3: #f6c54b;
$color-octant-orange4: #ffefee;
$color-octant-orange5: #f7d2cc;
$color-octant-purple: #685b8a;
