.progressBar {
  align-self: stretch;
}

.bold {
  font-weight: $font-weight-superbold;
}

.onboardingModalBody {
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;

  @media #{$desktop-up} {
    padding: 0 4.8rem;
  }

  .onboardingModalHeader {
    display: flex;
    align-items: center;
    height: 8rem !important;
    font-size: $font-size-18;
    margin-bottom: 0 !important;

    @media #{$desktop-up} {
      font-size: $font-size-20;
    }
  }
}

.onboardingModalText {
  height: 17.2rem;
  line-height: 2.2rem;

  &,
  * {
    font-size: $font-size-14;
  }

  @media #{$desktop-up} {
    height: 19.2rem;
    line-height: 2.4rem;

    &,
    * {
      font-size: $font-size-16;
    }
  }
}

.onboardingModalImageWrapper,
.onboardingModalImageContainer {
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $color-octant-grey8;
  overflow: hidden;

  &.calculatingUQScore {
    padding: 6.8rem 0 6.4rem;

    @media #{$desktop-up} {
      padding: 8rem 0 5.6rem;
    }
  }

  &.welcomeToOctant {
    padding: 3.2rem 0 5.2rem;

    @media #{$desktop-up} {
      padding: 4rem 0 3.2rem;
    }
  }

  &.earnRewards {
    padding: 4.8rem 0 4.8rem;

    @media #{$desktop-up} {
      padding: 5.8rem 0 2.4rem;
    }
  }

  &.donateToProjects,
  &.allocateOrWithdraw {
    padding: 5.2rem 0 5.6rem;

    @media #{$desktop-up} {
      padding: 4.8rem 0 4rem;
    }
  }

  &.slideIt {
    padding: 6.6rem 0 5rem;

    @media #{$desktop-up} {
      padding: 6.4rem 0 4.8rem;
    }
  }

  .moreInformation {
    padding: 4rem 0 3.6rem;

    @media #{$desktop-up} {
      padding: 6.8rem 0 4.4rem;
    }
  }

  .onboardingModalImage {
    max-width: 100%;
    max-height: 100%;
  }

  @media #{$desktop-up} {
    height: 31.2rem;
  }
}

.loaderWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: underline;

  @media #{$desktop-up} {
    text-decoration: none;
  }
}
