.root {
  padding: 0;
  display: flex;
  background: $color-white;
  border-radius: $border-radius-16;

  &.size {
    &--S {
      grid-column: span 1;
      grid-row: span 1;
      height: 100%;
    }

    &--M {
      height: 100%;
      grid-column: span 2;
      grid-row: span 1;
    }

    &--L {
      height: 100%;
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &:nth-child(2) {
    &::before {
      content: '';
      top: 4.8rem;
      height: 4.8rem;
      width: 0.1rem;
      position: absolute;
      left: 0;
      background: $color-octant-grey3;
    }
  }

  .groupTitleWrapper {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    margin: 0;

    &.hasTitleLargeBottomPadding {
      padding-bottom: 3.6rem;
    }

    .title {
      text-align: left;
      font-size: $font-size-12;
      color: $color-octant-green;
      font-weight: $font-weight-bold;
      height: 2.4rem;
      align-items: center;
      display: flex;
      border-radius: $border-radius-08;
      background: $color-octant-grey6;
      padding: 0 0.6rem;
    }
  }
}
