.root {
  padding: 0;
  display: flex;
  background: $color-white;
  border-radius: $border-radius-16;

  &.size {
    &--S {
      height: 14.4rem;
      grid-column: span 1;
      grid-row: span 1;
    }

    &--M {
      height: 14.4rem;
      grid-column: span 2;
      grid-row: span 1;
    }

    &--L {
      min-height: 30.4rem;
      grid-column: span 2;
      grid-row: span 2;
      max-height: 50.4rem;
    }

    &--XL {
      min-height: 46.4rem;
      grid-column: span 2;
      grid-row: span 3;
      max-height: 50.4rem;
    }
  }
}

.group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &:nth-child(2) {
    &::before {
      content: '';
      top: 4.8rem;
      height: 4.8rem;
      width: 0.1rem;
      position: absolute;
      left: 0;
      background: $color-octant-grey3;
    }
  }

  .groupTitleWrapper {
    padding: 1.2rem 1.6rem 0 2.4rem;
    display: flex;
    align-items: center;
    margin: 0;

    &.hasTitileBottomPadding {
      padding-bottom: 1.2rem;
    }

    .title {
      text-align: left;
      font-size: $font-size-10;
      color: $color-octant-green;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      letter-spacing: 0.03rem;
      height: 3.2rem;
      align-items: center;
      display: flex;
    }
  }
}
