.root {
  @include homeGridMigrateRoot();
  position: relative;
  padding: 1.4rem 2.4rem 2.4rem;

  @media #{$tablet-up} {
    padding-top: 0.8rem;
  }

  .image {
    height: 18rem;
  }

  .divider {
    margin-top: 2rem;
    width: 100%;
    height: 0.1rem;
    background-color: $color-octant-grey1;
  }

  .button {
    margin-top: 2.4rem;
    width: 100%;
  }

  .effective {
    min-height: 6.4rem;
  }

  .sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.6rem;

    .section {
      flex: 1;
      display: flex;
      justify-content: space-between;
      color: $color-octant-grey5;
      font-size: $font-size-12;

      &:first-child {
        .square {
          background: $color-octant-green;
        }
      }
      &:last-child {
        .square {
          background: $color-octant-orange2;
        }
      }

      .name {
        display: flex;

        .square {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: $border-radius-04;
          margin-right: 0.6rem;
        }
      }

      .value {
        color: $color-octant-dark;
        font-weight: $font-weight-semibold;
      }
    }
  }
}
