.root {
  width: 100%;
  border-radius: $border-radius-16;
  background: $color-white;
  display: flex;
  overflow: hidden;
  margin-bottom: 1.6rem;
  max-height: 50vh;
  padding: 0.1rem 0 0;

  @media #{$tablet-up} {
    max-height: auto;
    padding: 1.6rem;
  }
}

.milestonesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media #{$tablet-up} {
    flex-direction: row;
    width: auto;
  }
}

.constraintsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$tablet-up} {
    flex-direction: row;
  }
}
