.tooltip {
  position: absolute;
  background: $color-octant-dark;
  width: 6.4rem;
  height: 2.4rem;
  top: -3.8rem;
  left: -50%;
  border-radius: $border-radius-10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: $font-size-10;
  font-weight: $font-weight-medium;

  &::after {
    border-left: solid transparent 0.6rem;
    border-right: solid transparent 0.6rem;
    border-top: solid $color-octant-dark 0.6rem;
    bottom: -0.6rem;
    content: ' ';
    height: 0;
    left: 50%;
    transform: translateX(50%);
    margin-left: -1.2rem;
    position: absolute;
    width: 0;
  }
}
