$stepHeight: 0.8rem;

.root {
  display: flex;
  width: 100%;
  justify-content: center;

  &.isDisabled {
    pointer-events: none;

    .step {
      opacity: 0.5;
    }
  }
}

.stepWrapper {
  width: 1.8rem;
  margin: 0.8rem 0rem 2rem;
  padding: $progressStepperSlimStepPadding 0;
  height: $stepHeight;
  box-sizing: content-box;
  justify-content: center;
  display: flex;

  @media #{$desktop-up} {
    width: 6.4rem;
    margin: 1.6rem 0.8rem 4.8rem;
  }

  &.isClickable {
    cursor: pointer;
  }

  &:hover {
    .step {
      &:not(.isCurrent) {
        background: $color-octant-grey2;
      }
    }
  }
}

.step {
  border-radius: calc($stepHeight / 2);
  background: $color-octant-grey4;
  height: 100%;
  width: 0.8rem;
  transition: background $transition-time-5;
  transition-delay: $transition-time-4;
  transition-timing-function: ease-out;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &.isCurrent {
    background-color: $color-octant-green;
  }

  @media #{$desktop-up} {
    width: 100%;
  }
}
