.root {
  width: 100%;
  padding: 1.6rem;
  border-radius: $border-radius-16;
  background: $color-white;
  display: flex;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.milestonesWrapper {
  display: flex;
}

.constraintsWrapper {
  width: 100%;
  display: flex;
}
