.root {
  position: relative;

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    .icon {
      position: absolute;
      top: 50%;
      left: 0.9rem;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
    }

    .input {
      width: 100%;
      height: 100%;
      border: 0;
      // Hides copy/paste popup on safari mobile when an input value is selected
      -webkit-user-select: none;

      &:focus-visible {
        outline: 0;
      }

      &.textAlign-- {
        &left {
          text-align: left;
        }
        &center {
          text-align: center;
        }
        &right {
          text-align: right;
        }
      }
    }

    .suffix {
      position: absolute;
      background: transparent;
    }

    .loader {
      position: absolute;
      right: 7rem;
    }
  }

  &.variant-- {
    &allocation {
      width: 14.2rem;

      @media #{$desktop-up} {
        width: 26rem;
      }

      .input {
        height: 4.8rem;
        font-size: $font-size-14;
        font-weight: $font-weight-bold;
        background: $color-octant-grey6;
        border-radius: $border-radius-08;
        padding: 0 0.8rem 0 0.8rem;

        @media #{$tablet-down} {
          &.smallFontSize {
            font-size: $font-size-12;
          }
        }

        &.isDisabled {
          color: $color-octant-grey5;
        }

        &::placeholder {
          color: $color-octant-grey5;
        }

        &:focus-visible {
          background-color: $color-octant-green5;
        }

        &.isError {
          background-color: $color-octant-orange4;
        }

        &.hasSuffix {
          padding: 0 5rem 0 0.8rem;
        }

        @media #{$desktop-up} {
          height: 5.6rem;
          font-size: $font-size-18;

          &.hasSuffix {
            padding: 0 5.5rem 0 2.8rem;
          }
        }
      }

      .suffix {
        right: 0.8rem;
        z-index: $z-index-2;
        font-weight: $font-weight-bold;
        padding: 0.2rem 0.4rem;
        font-size: $font-size-12;
        color: $color-octant-dark;
        line-height: 1.6rem;
        background: $color-octant-grey1;
        border-radius: $border-radius-04;

        &.isError {
          background: $color-white;
        }
      }
    }

    &simple, &search {
      width: 100%;

      .buttonClear {
        position: absolute;
        right: 1.6rem;

        &.isSuffix {
          right: 6.4rem;
        }
      }
    }

    &simple {
      width: 100%;

      .label {
        text-align: left;
        font-size: $font-size-10;
        font-weight: $font-weight-bold;
        color: $color-octant-grey5;
        margin: 0 0 0.5rem 0;
      }

      .input {
        height: 4.8rem;
        padding: 1.6rem 0 1.6rem 1.6rem;
        border: 0.1rem solid $color-octant-grey1;
        border-radius: $border-radius-04;
        background: $color-white;
        font-size: $font-size-14;
        color: $color-octant-dark;

        &.isDisabled {
          background: $color-octant-grey8;
        }

        &::placeholder {
          color: $color-octant-dark-30;
          font-weight: $font-weight-semibold;
        }

        &:focus-visible {
          border-color: $color-octant-green;
        }

        &.isError {
          border-color: $color-octant-orange;
        }

        &.hasSuffix {
          padding: 1.6rem 7.2rem 1.6rem 1.6rem;
        }
      }

      .suffix {
        right: 1.6rem;
        z-index: $z-index-2;
        font-weight: $font-weight-bold;
        padding: 0.4rem 0.8rem;
        font-size: $font-size-12;
        color: $color-octant-dark;
        background: $color-octant-grey1;
        border-radius: $border-radius-04;

        &.isDisabled {
          color: $color-octant-grey5;
        }
      }

      .error {
        position: absolute;
        top: 100%;
        right: 0;
        text-align: left;
        font-size: $font-size-10;
        color: $color-octant-orange;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
      }
    }

    &search {
      width: 100%;

      .input {
        height: 4rem;
        padding: 1.6rem 0 1.6rem 1.6rem;
        border-radius: $border-radius-20;
        background: $color-white;
        font-size: $font-size-12;
        color: $color-octant-dark;

        &.hasIcon {
          padding-left: 4rem;
        }

        &:focus-visible {
          border: 0.1rem solid $color-octant-green;
        }
      }
    }
  }
}
