.mainLayoutBody {
  padding-bottom: 12.8rem;

  @media #{$tablet-down} {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 9.6rem;
  }
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.initialLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
