.root {
  position: fixed;
  bottom: 12.8rem;

  @media #{$desktop-up} {
    bottom: 16rem;
  }
}

.backToTop {
  cursor: pointer;
  font-size: $font-size-12;
  padding: 1rem 0;
  width: 11.2rem;

  .backToTopIcon {
    transform: rotate(-90deg);
    margin-left: 0.4rem;

    path {
      fill: $color-white;
    }
  }
}
