.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  width: 100%;
  border-bottom: 0.1rem solid $color-octant-grey4;

  &.hasBottomDivider:not(:last-child) {
    border-bottom: 0.1rem  solid $color-octant-grey2;
  }

  &.isDisabled {
    .label {
      color: $color-octant-grey3;
    }
    .tooltip > * {
      stroke: $color-octant-grey3;
    }
  }

  @media #{$tablet-down} {
    height: 5.6rem;
  }
}

.label {
  display: flex;
  align-items: center;
  color: $color-octant-dark;
  margin-right: 1.6rem;

  &.variant--{
    &small {
      font-size: $font-size-14;

      @media #{$tablet-down} {
        font-size: $font-size-12;
      }
    }
    &standard {
      font-size: $font-size-14;
    }
  }
}

.tooltip {
  margin-left: 1.2rem;
  cursor: pointer;
}

.childrenRight {
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
}
