.root {
  text-align: left;
  color: $color-octant-grey6;
  margin: 0 0 2rem 0;

  > * {
    &:not(:last-child) {
      margin: 0 0 3.2rem 0;
    }
  }

  ul {
    padding: 0 0 0 3.2rem;
  }

  a {
    color: $color-octant-green;
  }
}

.variant-- {
  &medium {
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    line-height: 2.2rem;
  }

  &big {
    color: $color-octant-dark;
    font-size: $font-size-18;
    line-height: 3rem;

    @media #{$tablet-down} {
      font-size: $font-size-14;
      line-height: 2.2rem;
    }
  }
}
