.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: $border-radius-16;
  background: $color-white;
  height: 28rem;
  width: 100%;
  bottom: 0;
  transition: bottom $transition-time-4 linear;
  // $projectItemPadding - 0.2rem to offset separator appearance in ProjectsListItem.
  padding: $projectItemPadding $projectItemPadding ($projectItemPadding - 0.2rem);

  .image {
    @include skeleton();
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
  }

  .title {
    @include skeleton();
    width: 16rem;
    height: 2rem;
    margin-bottom: 1.2rem;
  }

  .description {
    @include skeleton();
    width: 100%;
    height: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .projectRewards {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    .row {
      @include skeleton();
      width: 8.8rem;
      height: 1.6rem;

      &.value {
        height: 2rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
  }
}
