$heightRoot: 4rem;
$heightRootMobile: 3.2rem;
$heightTrack: 0.8rem;
$thumbSize: $heightRoot;
$thumbSizeMobile: $heightRootMobile;

.root {
  position: relative;
  height: $heightRootMobile;
  width: 100%;
  padding: 0 calc($thumbSizeMobile / 2);

  @media #{$desktop-up} {
    height: $heightRoot;
    padding: 0 calc($thumbSize / 2);
  }
}

.slider {
  position: absolute !important;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: $heightRootMobile;
  width: 100%;

  @media #{$desktop-up} {
    height: $heightRoot;
  }
}

.track {
  height: $heightTrack;
  border-radius: calc($heightTrack / 2);
  top: 50%;
  transform: translate(0, -50%);

  &:nth-child(1) {
    background: $color-octant-green;
  }

  &:nth-child(2) {
    background: $color-octant-orange3;
  }

  &.isDisabled {
    &:nth-child(1) {
      background: $color-octant-grey6;
    }
    &:nth-child(2) {
      background: $color-octant-grey3;
    }
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $thumbSizeMobile;
  width: $thumbSizeMobile;
  background: $color-white;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 5px);

  &:focus-visible {
    outline: none;
  }

  @media #{$desktop-up} {
    height: $thumbSize;
    width: $thumbSize;
  }
}

.iconTrack {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc($thumbSizeMobile / 2);
  height: calc($thumbSizeMobile / 2);
  background: $color-octant-grey12;
  border-radius: 50%;

  @media #{$desktop-up} {
    height: calc($thumbSize / 2);
    width: calc($thumbSize / 2);
  }
}

.pinlock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.7rem;
  height: 1rem;
}

.iconLock {
  z-index: 1;
}
