.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  &.isCryptoMainValueDisplay {
    flex-direction: row;
  }
  &:not(.isCryptoMainValueDisplay) {
    flex-direction: row-reverse;
  }
}

.input {
  @include flexBasisGutter(2, 1.6rem);
}
