.root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  min-height: 21.6rem;
  padding: 1.8rem 0 2.2rem;

  .donorsItem {
    &:not(:first-child) {
      margin-top: 0.4rem;
    }
  }
}
