.root {
  width: 100%;
}

.grid {
  grid-template-rows: 14.4rem minmax(14.4rem, auto);
}

.divider {
  width: 100%;
  height: 0.1rem;
  background-color: $color-octant-grey1;
  margin: 3.2rem 0;
}

.connectWalletImage {
  @include tipTileConnectWalletImage();
}
