$gridGap: 1.6rem;

.metricsGrid {
  display: grid;
  grid-template-columns: calc(50% - calc($gridGap / 2)) calc(50% - calc($gridGap / 2));
  gap: $gridGap;
  width: 100%;

  @media #{$desktop-up} {
    grid-template-columns: 16.3rem 16.3rem 16.3rem 16.3rem;
  }
}
