.root {
  @include homeGridMigrateRoot();
  padding: 1.4rem 2.4rem 2.4rem;

  @media #{$tablet-up} {
    padding-top: 0.8rem;
  }

  .text {
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    color: $color-octant-grey5;
  }

  .divider {
    margin-top: 2rem;
    width: 100%;
    height: 0.1rem;
    background-color: $color-octant-grey1;
  }

  .button {
    margin-top: 2.4rem;
    width: 100%;
  }

  .pending {
    min-height: 6.4rem;
  }
}
