.root {
  @include fontBig($font-size-24);
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 8.8rem;
  color: $color-octant-dark;

  @media #{$tablet-up} {
    @include fontBig($font-size-32);
    height: 14.4rem;
  }

  @media #{$desktop-up} {
    @include fontBig($font-size-40);
  }

  @media #{$large-desktop-up} {
    @include fontBig($font-size-48);
  }
}
