.bodyLayout {
  background: $color-white;
  padding: 3.2rem 0 0 0;
}

.imageLandscapeWrapper {
  display: block;
  width: 100%;
  height: auto;
  max-height: 20rem;
  position: relative;
  overflow: hidden;
  aspect-ratio: 2 / 1;

  .imageLandscape {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: inherit;
    object-fit: cover;
  }
}

.proposalHeader, .buttonAllocateWrapper, .body, .donors {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

.proposalHeader {
  display: flex;
  width: 100%;

  .imageProfile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1.6rem 0 0;
  }

  .nameAndAllocationValues {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    font-weight: $font-weight-bold;
  }

  .allocationValues {
    display: flex;
    align-items: center;
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
  }

  .separator {
    width: 0.1rem;
    height: 1.5rem;
    background: $color-hexagon-grey11;
    margin: 0 0.5rem;
  }

  .percentage {
    color: $color-hexagon-red2;

    &.isAboveThreshold {
      color: $color-hexagon-green5;
    }
  }
}

.buttonAllocateWrapper {
  margin: 3rem 0;
  width: 100%;
}

.buttonAllocate {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonWebsite {
    border-top: 0.1rem solid $color-hexagon-grey4;
    border-bottom: 0.1rem solid $color-hexagon-grey4;
    padding: 2rem 0;
  }
}

.donors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $color-hexagon-grey4;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: $layoutBodyMarginBottom;
  flex: 1;
  align-self: stretch;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $color-hexagon-dark;
    font-weight: $font-weight-bold;
    margin-bottom: 2rem;

    .count {
      display: flex;
      align-items: center;
      height: 2.4rem;
      font-size: $font-size-12;
      color: $color-white;
      background: $color-hexagon-green3;
      border-radius: $border-radius-10;
      margin: 0 0 0 1rem;
      padding: 0 1rem;
    }
  }

  .donor {
    display: flex;
    align-items: center;
    font-weight: $font-weight-semibold;
  }

  .donorIcon {
    margin-right: 1.5rem;
  }
}
