.root {
  z-index: $z-index-4;
  padding: 0;

  &.variant--cta {
    min-width: 15rem;
    font-size: $font-size-12;
    padding: 0 1rem 0 1.6rem;
    justify-content: right;
    background-color: $color-octant-dark;
    cursor: pointer;

    &:hover {
      background-color: $color-octant-grey10;
    }

    &:active {
      background-color: $color-octant-dark;
    }

    &.isDisabled {
      cursor: default;
      color: $color-octant-grey1;
      background-color: $color-octant-grey2;
    }

    .wrapper {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
  }
}
