.budgetRow {
  position: relative;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: $font-size-14;
  font-weight: $font-weight-bold;

  &:not(:last-child)::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 0.1rem;
    background-color: $color-octant-grey1;
    bottom: 0;
    left: 0;
  }

  .skeleton {
    @include skeleton();
    height: 1.7rem;
    width: 10rem;
  }

  .budgetLabel {
    color: $color-octant-grey5;
  }

  .budgetValue {
    color: $color-octant-dark;

    &.isError {
      color: $color-octant-orange;
    }
  }
}

.timeLockedInSablier {
  text-align: left;
  position: relative;
}

.tooltipWrapper {
  left: 1rem;
  top: -6.8rem;

  .tooltip {
    position: initial;
  }
}

.svgWrapper {
  width: 1.6rem;
  height: 1.6rem;
}

.tooltipBox {
  margin: 0.1rem 0 0 0.4rem;
}

.unlockInSablierButton {
  position: absolute;
  padding: 0;
  font-size: 1rem;
  bottom: -1.4rem;
}
