.root {
  position: relative;
  color: $color-octant-grey5;
  padding: 1.6rem 2.4rem 2rem;
}

.title {
  font-size: $font-size-18;
  margin-bottom: 0.3rem;
  color: $color-octant-green;

  &.greyTitle {
    color: $color-octant-grey5;
  }
}

.isManualBadge {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  border: 0.1rem solid $color-octant-green;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  border-radius: $border-radius-04;
  color: $color-octant-green;
  background: $color-octant-green5;
  line-height: 1.4rem;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.2rem;
  background-color: $color-octant-grey6;
  border-radius: $border-radius-08;
  padding: 0 1.6rem;
  margin: 2rem 0 0.8rem;

  &.isManuallyEdited {
    background-color: $color-octant-green5;
  }
}

.sections {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.section {
  &:not(.isDisabled):not(.isLocked) {
    cursor: pointer;
  }

  .header {
    line-height: 1.6rem;
    padding: 0.4rem 0;
  }

  .value {
    line-height: 2rem;
    font-size: $font-size-16;
    color: $color-octant-dark;

    @media #{$desktop-up} {
      font-size: $font-size-18;
    }
  }

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }

  &:not(.isDisabled) {
    &:first-child .value {
      color: $color-octant-green;

      &.isDisabled {
        color: $color-octant-grey5;
      }
    }

    &:last-child .value {
      color: $color-octant-orange2;

      &.isDisabled {
        color: $color-octant-grey5;
      }
    }
  }
}
