.root {
  min-height: 7.2rem;
  max-height: 7.2rem;
  border-radius: $border-radius-16;
  background-color: $color-octant-grey8;
  padding: 1.6rem 1.6rem 0;
  font-weight: $font-weight-bold;
  text-align: left;
  margin-bottom: 1.6rem;

  @media #{$tablet-up} {
    padding: 2rem 2.4rem 0;
  }

  .value {
    color: $color-octant-green;
    font-size: $font-size-16;
    line-height: 2.4rem;

    @media #{$tablet-up} {
      font-size: $font-size-18;
    }

    &.isGrey {
      color: $color-octant-grey5;
    }
  }

  .label {
    font-size: $font-size-12;
    color: $color-octant-grey5;
  }
}
