.root {
  grid-column: span 2;
  grid-row: span 2;

  @media #{$large-desktop-up} {
    grid-column: span 3;
  }
}

.areaChartWrapper {
  height: 24.8rem;
}

.areaChart {
  svg {
    border-radius: 0 0 1.6rem 1.6rem;
  }
}
