.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: $color-octant-grey5;
  margin-right: 0.8rem;
}

.box {
  height: 8rem;
  padding: 0 3.6rem 0 2.4rem;
  margin: 3.2rem 0;

  .checkbox {
    width: 2.4rem;
    height: 2.4rem;
  }

  .checkboxLabel {
    font-size: $font-size-16;
    text-align: left;
    margin-left: 2.6rem;
    font-weight: $font-weight-semibold;
  }
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .button {
    flex: 1;
    cursor: pointer;
    padding: 0;
    height: 4.8rem;

    &:first-child {
      margin-right: 1.6rem;
    }
  }
}
