.videosWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  min-height: 0;
  padding: 0 2.4rem;
  gap: 2.4rem;
}

.constraintsWrapper {
  display: flex;
  overflow: hidden;
  margin-top: 0.8rem;

  @media #{$tablet-up} {
    margin-top: 4rem;
  }

  @media #{$desktop-up} {
    margin-top: 1.2rem;
  }
}

.buttonClose {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: $color-octant-grey6;
}

.arrows {
  padding-top: 2.8rem;
  padding-left: 2.4rem;

  @media #{$tablet-up} {
    padding-top: 0;
    padding-left: 1.4rem;
  }
}

.arrowLeft {
  margin-right: 1.6rem;

  @media #{$tablet-up} {
    margin-right: 0.8rem;
  }
}
