.root {
  position: relative;
  user-select: none;
  min-height: 11.2rem;

  .icons {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
  }
}

.name {
  color: $color-octant-dark;
  font-size: $font-size-14;
  font-weight: $font-weight-bold;
  padding: 1.9rem 2.4rem;
  white-space: nowrap;
  border-bottom: 0.1rem solid $color-octant-grey12;
  width: 100%;
  text-align: left;
}

.valuesBox {
  display: flex;
  width: 100%;
  height: 5.6rem;
  align-items: center;

  .ethNeeded {
    text-align: left;
    padding: 0 2.4rem;
    flex-basis: 65%;
    border-right: 0.1rem solid $color-octant-grey12;
    height: 100%;
    display: flex;
    align-items: center;
    color: $color-octant-dark;
    font-size: $font-size-12;
    font-weight: $font-weight-semibold;

    .dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: $color-octant-orange;
      margin-right: 1.4rem;

      &.isDonationAboveThreshold {
        background: $color-octant-green;
      }
    }
  }

  .allocated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;

    .allocatedPercentage {
      color: $color-octant-green;
      font-size: $font-size-14;
      font-weight: $font-weight-bold;
    }

    .allocatedAmount {
      color: $color-octant-grey6;
      font-size: $font-size-12;
      font-weight: $font-weight-bold;
    }
  }
}
