.boxes {
  width: 100%;
}

.box {
  min-height: 9.6rem;
  padding: 0;

  &.isSelected {
    position: relative;
    z-index: $z-index-3;
  }

  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.emptyState {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .buttonDiscord {
    padding-left: 0;
  }
}

.selectedItemOverlay {
  position: fixed;
  z-index: $z-index-2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-hexagon-grey6;
  opacity: 0.5;
  cursor: pointer;
}
