.root {
  padding: 0 1.6rem;
  background-color: $color-octant-grey6;
  border-radius: $border-radius-08;
  height: 5.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  opacity: 0.5;
  transition: opacity $transition-time-1;

  &:not(:last-child) {
    margin-right: 1.6rem;
  }

  &.isActive {
    background-color: $color-octant-green5;

    .label {
      color: $color-octant-dark;
    }

    .date {
      color: $color-octant-green;
    }

    .arrow {
      svg,
      path {
        stroke: $color-octant-green;
        fill: $color-octant-green;
      }
    }
  }

  &.isInView {
    opacity: 1;
  }

  .label {
    color: $color-octant-grey5;
    font-size: $font-size-12;
    font-weight: $font-weight-bold;
    margin-bottom: 0.4rem;
    white-space: nowrap;
  }

  .date {
    color: $color-octant-grey2;
    font-size: $font-size-10;
    font-weight: $font-weight-bold;
    letter-spacing: 0.02rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
  }

  .arrow {
    margin: 0 0.4rem;

    & svg,
    path {
      stroke: $color-octant-grey2;
      fill: $color-octant-grey2;
    }
  }
}
