.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  user-select: none;

  .image {
    height: 11.1rem;
    margin: 0 auto 0;
    opacity: 0.5;
  }

  .graphContainer {
    margin-bottom: 0.8rem;
    flex: 1;
    display: flex;
    padding: 6rem 2rem 0;
    margin: -3.2rem 0 0;
    overflow-y: hidden;
    overflow-x: auto;

    &.isLoading {
      margin: 0;
      padding-top: 2.4rem;
    }

    .barsContainer {
      display: flex;
    }
  }

  .details {
    width: 100%;
    height: 3.2rem;
    border-radius: $border-radius-08;
    background-color: $color-octant-grey6;
  }
}
