.root {
  width: 100%;
  padding: 0 2.4rem;

  @media #{$desktop-up} {
    max-height: 100%;
  }
}

.childrenWrapper {
  display: block;

  @media #{$desktop-up} {
    overflow: auto;
  }
}

.loader {
  margin: 0 auto;
}

.header {
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  margin: 2rem 0;
  text-align: left;

  @media #{$desktop-up} {
    display: none;
  }
}
