.header {
  display: flex;
  align-items: center;
  color: $color-octant-dark;
  font-size: $font-size-20;
  font-weight: $font-weight-bold;
  width: 100%;

  @media #{$desktop-up} {
    font-size: $font-size-18;
  }

  .headerLabel {
    line-height: 3.2rem;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    min-width: 3.2rem;
    font-size: $font-size-12;
    color: $color-octant-dark;
    background: $color-octant-grey2;
    border-radius: $border-radius-10;
    margin-left: 1rem;
  }
}
