.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $color-octant-grey6;
  padding: 3.4rem 5.6rem 10.4rem;
  flex: 1;
  align-self: stretch;

  @media #{$desktop-up} {
    padding: 2.6rem 11rem 10.4rem;
  }

  .donorsHeader {
    justify-content: space-between;
    padding-bottom: 1.6rem;
  }

  .body {
    border-top: 0.1rem solid $color-octant-grey8;
    border-bottom: 0.1rem solid $color-octant-grey8;
    min-height: 21.6rem;
  }

  .noDataInformation {
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    color: $color-octant-grey5;

    &.noDonationsYet {
      text-align: left;
      margin-top: 2rem;
    }
  }

  .divider {
    width: 100%;
    height: 0.1rem;
    background: $color-octant-grey8;
  }
}

.buttonDonors {
  position: absolute;
  align-self: center;
  bottom: 3.2rem;
  font-size: $font-size-12;
  width: 11.2rem;
  height: 4rem;
}
