.root {
  position: relative;
  margin-top: 1.6rem;
  width: 100%;
  height: 8rem;
  border-radius: $border-radius-16;
  padding: 1.6rem;

  .button {
    position: absolute;
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-08;
    box-shadow: 0 0.4rem 2.5rem 0 $color-black-05;
    cursor: pointer;
    z-index: 1;

    .arrowRightSvg {
      width: 1.4rem;
      height: 1.4rem;

      &.isPatronModeEnabled {
        transform: rotate(180deg);
      }
    }
  }
}

.label {
  position: absolute;
  color: $color-octant-grey5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $font-size-14;
  font-weight: $font-weight-bold;
}

.patronModeLabel {
  position: absolute;
  color: $color-white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $font-size-14;
  font-weight: $font-weight-bold;
  display: flex;
  align-items: center;
  justify-self: center;
  white-space: nowrap;
}

.tickSvg {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.6rem;
}

:export {
  colorOctantGreen: $color-octant-green;
  colorOctantGreen_80: $color-octant-green-80;
  colorOctantDark: $color-octant-dark;
  colorOctantGrey6: $color-octant-grey5;
  colorOctantGrey12: $color-octant-grey8;
  colorWhite: $color-white;
}
