.root {
  display: flex;
  align-items: center;
  position: relative;

  &.variant-- {
    &underselect {
      width: 20rem;
      height: 4rem;
    }
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1;
  cursor: pointer;
  justify-content: space-between;

  .chevron {
    margin: 0 1.2rem;
    width: 3.6rem;

    &.isMenuOpen {
      transform: rotateX(180deg);
      transition: 0.3s all;
    }
  }

  &.variant-- {
    &overselect {
      font-weight: $font-weight-bold;

      .label {
        padding: 0.2rem 0.8rem;
      }
    }
    &underselect {
      font-size: $font-size-12;
      font-weight: $font-weight-semibold;
      background: $color-octant-grey8;
      border-radius: $border-radius-16;

      .label {
        padding: 0.2rem 1.6rem;
      }
    }
  }
}

.overlay {
  position: absolute;

  @media #{$tablet-down} {
    @include overlay(100%, 100%);
  }
}

.menu {
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 2.4rem 0;
  border-radius: $border-radius-16;
  z-index: $z-index-6;
  box-shadow: $box-shadow-1;
  height: auto;
  width: 100%;
  background: $color-white;

  @media #{$desktop-up} {
    position: absolute;
    width: 12.8rem;
    padding: 1.6rem 0;
    bottom: auto;

    &.variant-- {
      &overselect {
        top: -2rem;
        right: -0.73rem;
      }

      &underselect {
        width: 100%;
        top: 5rem;
      }
    }
  }
}

.buttonClose {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: $z-index-4;

  @media #{$desktop-up} {
    display: none;
  }
}

.option {
  position: relative;
  display: flex;
  cursor: pointer;
  color: $color-octant-dark;
  width: 100%;
  height: 4.8rem;
  justify-content: left;
  align-items: center;
  font-size: $font-size-18;
  padding-left: 5.6rem;

  .iconTick {
    position: absolute;
  }

  @media #{$desktop-up} {
    font-size: $font-size-12;
    height: 3.2rem;
    padding-left: 0;
  }

  &:hover {
    background: $color-octant-grey6;
  }

  &.variant-- {
    &overselect {
      .iconTick {
        left: 2.5rem;
      }

      @media #{$desktop-up} {
        justify-content: center;
      }
    }
    &underselect {
      flex-direction: row-reverse;
      padding: 0 5.6rem;

      .iconTick {
        left: 2.5rem;
      }

      @media #{$desktop-up} {
        padding: 0 2.4rem;

        .iconTick {
          left: auto;
          right: 1.5rem;
        }
      }
    }
  }
}
