.root {
  display: flex;
  align-items: center;
  position: relative;

  &.variant-- {
    &belowselect, &topselect {
      width: 20rem;
      height: 4rem;
    }
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1;
  cursor: pointer;
  justify-content: space-between;

  .labelWrapper {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      margin-right: 0.8rem;

      &.variant-- {
        &topselect {
          stroke: $color-octant-grey5;
        }
      }
    }
  }

  .chevron {
    margin: 0 1.8rem 0 1rem;
    width: 3.6rem;

    &.variant-- {
      &topselect {
        path {
          stroke: $color-octant-grey5;
        }
      }
    }

    &.isMenuOpen {
      transform: rotateX(180deg);
      transition: 0.3s all;
    }
  }

  &.variant-- {
    &overselect {
      font-weight: $font-weight-bold;

      .label {
        padding: 0.2rem 0.8rem;
      }
    }
    &belowselect, &topselect {
      $labelPaddingVertical: 0.2rem;
      $labelPaddingHorizontal: 1.6rem;

      font-weight: $font-weight-semibold;

      .label {
        padding: $labelPaddingVertical $labelPaddingHorizontal;

        &.hasIcon {
          padding-left: 0;
        }
      }
    }
    &belowselect {
      background: $color-octant-grey8;
      border-radius: $border-radius-16;
      border: 0.1rem solid transparent;
      font-size: $font-size-12;

      &:hover {
        border-color: $color-octant-grey2;
      }
    }
    &topselect {
      color: $color-octant-grey5;
      font-size: $font-size-14;

      &:hover {
        color: $color-octant-grey13;

        .icon {
          stroke: $color-octant-grey13;
        }

        .chevron path {
          stroke: $color-octant-grey13;
        }
      }
    }
  }
}

.overlay {
  position: absolute;

  @media #{$tablet-down} {
    &.isVariantFullWidthOnMobile {
      @include overlay(100%, 100%, true);
    }
    &:not(.isVariantFullWidthOnMobile) {
      @include overlay(100%, 100%, false);
    }
  }
}

.menu {
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
  margin: 0;
  border-radius: $border-radius-16;
  z-index: $z-index-6;
  box-shadow: $box-shadow-1;
  height: auto;
  width: 100%;
  background: $color-white;

  &.variant-- {
    &topselect {
      position: absolute;
      width: 14.4rem;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%) !important;
      padding: 0.8rem 0;
    }

    &overselect, &belowselect {
      padding: 2.4rem 0;
    }
  }

  @media #{$desktop-up} {
    &.variant-- {
      &overselect, &underselect {
        position: absolute;
        width: 12.8rem;
        padding: 1.6rem 0;
        bottom: auto;
      }

      &overselect {
        top: -2rem;
        right: -0.73rem;
      }

      &belowselect {
        width: 100%;
        top: 5rem;
      }
    }
  }
}

.buttonClose {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: $z-index-4;

  @media #{$desktop-up} {
    display: none;
  }
}

.option {
  position: relative;
  display: flex;
  cursor: pointer;
  color: $color-octant-dark;
  width: 100%;
  height: 4.8rem;
  justify-content: left;
  align-items: center;
  font-size: $font-size-18;
  padding-left: 5.6rem;

  .iconTick {
    position: absolute;
  }

  @media #{$desktop-up} {
    &.variant-- {
      &belowselect, &overselect {
        font-size: $font-size-12;
        height: 3.2rem;
        padding-left: 0;
      }
    }
  }

  &:hover {
    background: $color-octant-grey6;
  }

  &.variant-- {
    &topselect {
      font-size: $font-size-14;
    }

    &topselect, &overselect {
      .iconTick {
        left: 2.5rem;
      }

      @media #{$desktop-up} {
        justify-content: center;
      }
    }
    &belowselect {
      flex-direction: row-reverse;
      padding: 0 5.6rem;

      .iconTick {
        left: 2.5rem;
      }

      @media #{$desktop-up} {
        padding: 0 2.4rem;

        .iconTick {
          left: auto;
          right: 0.8rem;
          margin: 0 1.1rem;
        }
      }
    }
  }
}
