.root {
  padding: 4.4rem 2.2rem 0.5rem;

  @media #{$desktop-up} {
    padding: 4.5rem 2.2rem 2.5rem;
  }

  .buttonLink {
    display: block;
    font-size: $font-size-12;
    line-height: 2rem;
    font-weight: $font-weight-semibold;
    min-height: 2rem;

    .buttonLinkText {
      margin-left: 0.4rem;
    }

    .buttonLinkArrowSvg {
      margin-left: 0.4rem;
      path {
        fill: $color-octant-green;
      }
    }

    @media #{$desktop-up} {
      font-size: $font-size-14;
    }
  }

  .octantInfo {
    color: $color-octant-grey5;
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    line-height: 2rem;
  }
}
