.root {
  padding: 0 2.4rem 2.4rem;

  .visitDashboard {
    height: 4.8rem;
    justify-content: left;
    font-size: 1rem;
    border-bottom: 0.1rem solid $color-octant-grey3;
    margin-bottom: 2.4rem;
    padding: 0;
  }

  .buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .button {
      cursor: pointer;
      flex: 1;

      &:first-child {
        margin-right: 1.2rem;
      }
    }
  }
}

.titleSuffix {
  margin-left: auto;
  cursor: pointer;
  color: $color-octant-green;
  font-size: $font-size-10;
  font-weight: $font-weight-bold;
}
