.root {
  border-top: 0.1rem solid $color-octant-grey3;
  max-height: 100%;
  overflow: hidden;

  .projectsList {
    padding: 0 3.8rem 0rem 2.4rem;
    max-height: 100%;
    overflow: scroll;
    margin-right: 0.8rem;
  }
}
