.root {
  color: $color-octant-dark;
  font-weight: $font-weight-semibold;

  &.isError {
    color: $color-octant-orange;
  }

  &.isDisabled {
    color: $color-octant-grey2;

    .secondary {
      color: $color-octant-grey2;
    }
  }

  &.textAlignment-- {
    &left {
      text-align: left;
    }
    &right {
      text-align: right;
    }
  }
}

.primary {
  font-size: $font-size-24;

  &.variant-- {
    &extra-large {
      font-size: $font-size-32;
    }

    &large {
      font-size: $font-size-24;
    }

    &standard {
      font-size: $font-size-18;
    }

    &small {
      font-size: $font-size-14;

      @media #{$tablet-down} {
        font-size: $font-size-12;
      }
    }

    &tiny {
      font-size: $font-size-12;
      font-weight: $font-weight-bold;
    }
  }
}

.secondary {
  font-size: $font-size-12;
  color: $color-octant-grey5;

  &.variant-- {
    &extra-large {
      font-size: $font-size-16;
    }
  }

  &.isError {
    color: $color-octant-orange;
  }
}
