.root {
  width: 100%;
  padding-bottom: 4rem;

  @media #{$large-desktop-up} {
    padding-bottom: 5.6rem;
  }
}

.divider {
  width: 100%;
  height: 0.1rem;
  background-color: $color-octant-grey1;
  margin: 3.2rem 0;
}

.grid {
  grid-template-rows: repeat(6, 15.6rem);

  @media #{$tablet-up} {
    grid-template-rows: repeat(3, 15.6rem);
  }

  @media #{$desktop-up} {
    grid-template-rows: repeat(2, 15.6rem);
  }
}
