.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.6rem;

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-octant-grey3;
  }

  .image {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 100%;
    margin-right: 1.6rem;
  }

  .name,
  .value {
    font-size: $font-size-12;
    font-weight: $font-weight-bold;
    color: $color-octant-dark;
  }

  .name {
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .value {
    margin-left: 1rem;
    flex-shrink: 0;
  }
}
