.modalBody {
  padding: 0;
  overflow: hidden;
}

.donorsHeader {
  height: 8.8rem;
  padding: 0 3.2rem;
  border-bottom: 0.1rem solid $color-octant-grey12;
}

.donorsList {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  overflow: auto;
  min-height: 25.2rem;
  max-height: calc(100vh - 8.8rem);

  @media #{$desktop-up} {
    min-height: 28rem;
    max-height: 58.4rem;
  }
}

.overflow {
  z-index: $z-index-5;
}
