$headerNavigationHeight: 7.2rem;
$headerMarginVertical: 4.8rem;
$headerMarginHorizontal: 2.4rem;
$headerNavigationBorderRadius: calc($headerNavigationHeight / 2);

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerNavigationHeight;
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  padding: $headerMarginHorizontal;
  margin: $headerMarginVertical $headerMarginHorizontal;
  box-shadow: $box-shadow-1;
}

.profileInfo {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
}

.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0.8rem 0 0;
}

.address {
  font-weight: $font-weight-bold;
}

.budget {
  font-size: $font-size-14;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding: 2rem 2rem ($headerNavigationHeight + 2 * $headerMarginHorizontal) 2rem;

  &.isLoading {
    justify-content: center;
  }

  .loader {

  }
}

.navigation {
  position: fixed;
  bottom: $headerMarginHorizontal;
  left: 50%;
  transform: translate(-50%, 0);;
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  box-shadow: $box-shadow-1;
  max-width: 37.8rem;

  &.hasNavigationBottomSuffix {
    border-radius: 1.6rem 1.6rem $headerNavigationBorderRadius $headerNavigationBorderRadius;
  }

  .navigationBottomSuffix {
    padding: 1.6rem;
    border-bottom: 0.1rem solid $color-hexagon-grey;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerNavigationHeight;
    padding: 1.2rem 2rem 1.5rem;
  }

  .button {
    height: 100%;
    padding: 0 1rem;
  }
}
