$headerNavigationHeight: 7.2rem;
$headerMarginVertical: 4.8rem;
$headerMarginHorizontal: 2.4rem;
$headerNavigationBorderRadius: calc($headerNavigationHeight / 2);

.root {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerNavigationHeight;
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  padding: $headerMarginHorizontal;
  margin: $headerMarginVertical $headerMarginHorizontal;
  box-shadow: $box-shadow-1;

  .logo {
    @include svgSize(3rem, 3rem);
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 2rem 2rem ($headerNavigationHeight + 2 * $headerMarginHorizontal) 2rem;
}


.navigation {
  position: fixed;
  bottom: $headerMarginHorizontal;
  left: $headerMarginHorizontal;
  right: $headerMarginHorizontal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerNavigationHeight;
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  padding: $headerMarginHorizontal;
  box-shadow: $box-shadow-1;
}
