$circleDiameter: 5.6rem;

.root {
  height: $circleDiameter;
  width: $circleDiameter;
  position: fixed;
  z-index: $z-index-5;
  border-radius: 100%;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: $circleDiameter;
  height: $circleDiameter;
  border-radius: 100%;
  overflow: hidden;
}

.slideImg {
  position: absolute;
  z-index: $z-index-2;
  height: 5rem;
  top: 1.65rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.backgroundCircleSvg,
.progressLinesSvg {
  top: 0;
  left: 0;
  position: absolute;
}

.progressLinesSvg {
  z-index: $z-index-2;
}

.stepNumber {
  z-index: $z-index-5;
  left: 50%;
  transform: translate(-50%, 0);
  top: 2.4rem;
  position: absolute;

  path {
    stroke: transparent !important;
  }
}

.backgroundCircle {
  fill: $color-octant-grey2;
}

.progressLine {
  stroke-width: 0.2rem;
  stroke: $color-white;
  stroke-linejoin: round;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: $z-index-4;

  &.isHighlighted {
    stroke: $color-octant-green;
  }
}

.tooltipWrapper {
  pointer-events: initial;
}
