.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  height: 5.6rem;
  background: $color-octant-grey3;
  margin-bottom: 1.6rem;
  border-radius: $border-radius-16;
  font-size: $font-size-12;
  font-weight: $font-weight-semibold;
  color: $color-octant-grey5;

  @media #{$desktop-up} {
    font-size: $font-size-14;
  }

  &:not(.isThereSomethingToDistribute) {
    justify-content: center;
  }

  .value {
    font-weight: $font-weight-bold;

    &:not(.isValueExceeded) {
      color: $color-octant-dark;
    }
    &.isValueExceeded {
      color: $color-octant-orange;
    }
  }
}
