:root {
  font-family: sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  font-size: $font-size-base;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 32rem;
  min-height: 100%;
  background: $color-graphite1;
  color: $color-white;
}
