@import './fonts.css';

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Hides grey overlay on tap (mobile) https://linear.app/golemfoundation/issue/OCT-765/fix-bottom-navbar-glitch-on-tapping-navbar-items-mobile-only , https://linear.app/golemfoundation/issue/OCT-766/fix-visual-glitches-with-settings-toggle-switches-mobile-only
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $color-octant-dark;
  text-decoration: none;
}

html {
  height: 100%;
  font-size: $font-size-base;
}

body {
  margin: 0;
  min-width: 32rem;
  height: 100%;
  min-height: 100%;
  background: $color-octant-grey4;
  color: $color-octant-dark;
  font-size: $font-size-16;
  overflow-y: scroll;
}

.isScrollbarOffsetEnabled {
  @media #{$desktop-up} {
    padding-right: 0 !important;
  }
}
