.root {
  margin-left: auto;
  width: 14rem;
  height: 3.2rem;
  background: $color-octant-grey6;
  border-radius: $border-radius-08;
  display: flex;
  padding: 0.4rem;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.4rem;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-octant-grey5;
    width: 3rem;
    height: 2.4rem;
    font-size: $font-size-10;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    opacity: 0.5;
    border-radius: $border-radius-04;
    cursor: pointer;

    &.active {
      background-color: $color-white;
      color: $color-octant-dark;
      opacity: 1;
    }
  }
}
